

<div style="padding-top: 80px;" class="container center_div">
  <div class="row justify-content-center">
    
    
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-user"></i>
      </span>
    </div>
    <input  type="text" class="form-control" [(ngModel)]="name"
    placeholder="Name"
    >

  <!-- <small *ngIf="!form.get('Name').valid && form.get('Name').touched" class="form-text text-danger w-100">Name</small> -->
  </div>




  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <input  type="text" class="form-control"
    [(ngModel)]="country"
    placeholder="Country">
    <!-- <small *ngIf="!form.get('Country').valid && form.get('Country').touched" class="form-text text-danger w-100">Country</small> -->

  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-phone"></i>
      </span>
    </div>
    <input   type="text" class="form-control"
    [(ngModel)]="mobile"
    placeholder="Phone">
    <!-- <small *ngIf="!form.get('Phone').valid && form.get('Phone').touched" class="form-text text-danger w-100">Phone</small> -->

  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-building-o"></i>
      </span>
    </div>
    <input   type="text" class="form-control"
    [(ngModel)]="company"
    placeholder="Companies">
    <!-- <small *ngIf="!form.get('email').valid && form.get('email').touched" class="form-text text-danger w-100">Companies</small> -->

  </div>


  <div class="form-group">
    <button class="btn btn-block btn-outline-primary" (click)="Adduser()">Add</button>
  </div>
  <hr>
  <table id = "tbl" class="table" border="1">
    <thead>
      <th>
        Name
      </th>
      <th>
        Country
      </th>
      <th>
        Mobile
      </th>
      <th>
        Company
      </th>
      <th>
        Delete
      </th>
     
     
    </thead>
  </table>

  
  </div>
  </div>

 









