<div style="padding-top: 80px;" class="container center_div">
  <div class="row justify-content-center">
    <form class="form-group col-md-4 col-md-offset-5 align-center " [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-user"></i>
      </span>
    </div>
    <input type="text" class="form-control"
    formControlName="firstName"
    placeholder="Enter First Name">
  <small *ngIf="!form.get('firstName').valid && form.get('firstName').touched" class="form-text text-danger w-100">Please Enter First Name</small>
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-user"></i>
      </span>
    </div>
    <input type="text" class="form-control"
    formControlName="lastName"
    placeholder="Enter Last Name">
    <small *ngIf="!form.get('lastName').valid && form.get('lastName').touched" class="form-text text-danger w-100">Please Enter Last Name</small>
  </div>
  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-phone"></i>
      </span>
    </div>
    <input type="text" class="form-control"
    formControlName="contactNumber"
    placeholder="Enter Contact Number">
    <small *ngIf="!form.get('contactNumber').valid && form.get('contactNumber').touched" class="form-text text-danger w-100">Please Enter Contact Number Properly</small>
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-address-card"></i>
      </span>
    </div>
    <input type="text" class="form-control"
    formControlName="address"
    placeholder="Enter Your Address">
    <small *ngIf="!form.get('address').valid && form.get('address').touched" class="form-text text-danger w-100">Please Enter your address</small>
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-envelope"></i>
      </span>
    </div>
    <input type="text" class="form-control"
    formControlName="email"
    placeholder="Enter Your Email">
    <small *ngIf="!form.get('email').valid && form.get('email').touched" class="form-text text-danger w-100">Please Enter your email properly</small>
  </div>

  <div class="form-group input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-map-pin"></i>
      </span>
    </div>
    <input type="text" class="form-control"
    formControlName="pincode"
    placeholder="Enter Your Pincode">
    <small *ngIf="!form.get('pincode').valid && form.get('pincode').touched" class="form-text text-danger w-100">Please Enter your pincode properly</small>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-outline-primary">Register</button>
  </div>

  </form>
  </div>
  </div>




